<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student - Input Form</title>
</head>
<h3>Student Registration Form</h3>
<body>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First Name: <input type="text" th:field="*{firstName}"/>
        <br><br>
        Last Name: <input type="text" th:field="*{lastName}"/>
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>
        <br><br>
        <input type="submit"/>
    </form>
</body>
</html>